<!-- <a
  style="cursor: pointer"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix"
>
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <span class="pull-right">
    <img
      src="{{ recipe.imagePath }}"
      alt="{{ recipe.name }}"
      style="max-height: 50px"
      class="img-responsive"
    />
  </span>
</a> -->

<div class="mb-4">
  <div class="card recipe-card ">
    <a tyle="cursor: pointer" [routerLink]="[index]" routerLinkActive="active">
      <img
        src="{{ recipe.imagePath }}"
        class="card-img-top recipe-image"
        alt="{{ recipe.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ recipe.name }}</h5>
        <p class="card-text">{{ recipe.description }}</p>
      </div>
    </a>
  </div>
</div>
