<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f ="ngForm">
      <div class="row">
        <div class="col-sm-4 form-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" class="form-control" ngModel required/>
        </div>
        <div class="col-sm-3 form-group">
          <label for="amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="amount" ngModel required pattern="^[1-9]+[0-9]*$"/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add'}}</button>
          <span>&nbsp;</span>

          <button *ngIf="editMode" class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
          <span>&nbsp;</span>

          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
          <span>&nbsp;</span>
        </div>
      </div>
    </form>
  </div>
</div>
